version: "3.9"

services:
  api:
    build: .
    container_name: datathon_api
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./artifacts:/app/artifacts
    restart: unless-stopped
